<h1>product-task</h1>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 first">
      <div class="form-group">
        <label for="productTitle">Product Title</label>
        <input type="text" #productTitle name="" id="productTitle" class="form-control">
      </div>
      <div class="form-group">
        <label for="productDescription">Product Description</label>
        <!-- <input type="text" #proDescription name="" id="proDescription" class="form-control"> -->
        <textarea id="proDescription" #proDescription cols="72" rows="10"></textarea>
      </div>
      <div class="text-right">
        <button class="mr-3" mat-raised-button color="primary" (click)="addProdInfo('Product')">Add Product</button>
        <button class="" mat-raised-button color="primary" (click)="addProdInfo('Catlog')">Add Catlog</button>
      </div>
    </div>
    <div class="col-md-6">
      <!-- <app-product-card *ngFor="let prod of productsArray"></app-product-card> -->
      <mat-card class="mb-4 alert" [ngClass]="{
  'alert-success' : prod.pCategory === 'Product',
  'alert-info' : prod.pCategory === 'Catlog'
}" *ngFor="let prod of productsArray">
        <mat-card-title>
          {{prod.productTitle}}
        </mat-card-title>
        <mat-card-content>
          {{prod.proDescription}}
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>